  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* --- for admin login page --- */
  .button-background{
    color: #fff;
    font-size: 14px;
    height:40px;
    background-image: url("/images/loginpage/login-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:solid;
    border-color: #679d5f;
    border-width: 1px;
    border-radius: 20px;
    user-select: none;
    width: inherit;
    background: linear-gradient(to bottom, #d39c4e 0%,#f0d475 33%,#fae681 56%,#d39c4e 100%);
    color: black;
    font-weight: 700;
    font-size: 12px;}

    .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    -ms-flex-align: stretch;
      justify-content: left; 
  }

  .button-background:hover {
    color: black;
    background-color: #1b8eb7;
    border-color: linear-gradient(to bottom, #fef48a 0%,#ce9246 100%); }
  /*.button-background:focus, .button-background {
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5); }*/
  .button-background.disabled, .button-background:disabled {
    background-color: #20a8d8;
    border-color: #20a8d8; }
  .button-background:not([disabled]):not(.disabled):active, .button-background:not([disabled]):not(.disabled).active,
  .show > .button-background.dropdown-toggle {
    color: #fff;
    background-color: #1985ac;
    border-color: #187da0; }
  .button-background:not([disabled]):not(.disabled):active:focus, .button-background:not([disabled]):not(.disabled).active:focus,
  .show > .button-background.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #00ff00 }

  .invalid-feedback{
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f86c6b; 
    text-align: left;}

  .form-control{
    display: flex;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fef2b5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #fef2b5;
    background-color: #fff;
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }
  .form-control::-webkit-input-placeholder {
    text-align: center;
    color: #8e8a79;
    opacity: 3; }
  .form-control:-ms-input-placeholder {
    text-align: center;
    color: #8e8a79;
    opacity: 3; }
  .form-control::-ms-input-placeholder {
    text-align: center;
    color: #8e8a79;
    opacity: 3; }
  .form-control::placeholder {
    text-align: center;
    color: #8e8a79;
    opacity: 3; }
  .form-control:disabled, .form-control1[readonly] {
    text-align: center;
    background-color: #c2cfd6;
    opacity: 0; }

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 1.23rem;}

  .form-check-label {
  margin-bottom: 0;
  margin-left:40px; }

  .col-form-label {
  padding-top: calc(-0.375rem + -1px);
  padding-bottom: calc(-0.375rem + -1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;}

.form-group {
  margin-bottom: 1rem; }